
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      /* font-family: "Roboto"; */

/* text-decoration: none; */
  /* font-family: 'Roboto', sans-serif;  */
  font-family: "Inter", sans-serif;
}

:root {
  --main-color:#FF6D00; 
  --text-color:#2C353E;
  --sc-color:#368268; 
  --footer-color: #1E293B; 
/* --lato-font:   "Lato", sans-serif; */
--lato-font:  "Inter", sans-serif;

--roboto-font:    'Roboto', sans-serif;
  --border-color: #e5e7eb; 
  --light-bg-color: #E3F1FE; 
  --dark-bg-color:#006FCF;
  --border-color:#368268;
  --other-bg-color:#CCFFFE;
}

/* Optional global styles */
body {
  background-color: var(--bg-color);
  font-family: 'Josefin Sans', sans-serif;
}

.main-container{
  padding: 20px 100px;
}

@media (max-width:768px) {
  .main-container{
  padding: 10px 20px;
}
}


/* Import Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.nav-link {
  font-variant-caps: all-small-caps; /* Small caps */
  text-transform: uppercase;          /* Force uppercase */
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);           /* Default gray */
  transition: color 0.3s ease;        /* Smooth color transition */
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  position: relative;                 /* Required for pseudo-elements */
}

/* Underline animation */
.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;                       /* Distance from text */
  width: 100%;
  height: 2px;                        /* Thickness of underline */
  background-color: #2563EB;          /* Blue underline */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  transform: scaleX(1);
}

/* Hover color */
.nav-link:hover {
  color: #2563EB;
}

/* Active link color */
.nav-link.active {
  color: #2563EB !important;
}

.popup-icons{
  background-color: var(--footer-color);
  color: white;
  border: 3px solid white;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 2px;
  top: -10px;
  position: absolute;
  right: -10px;
    /* ✅ Box Shadow */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

}
/* Login button styling */
.header-btn {
  text-transform: uppercase;
  font-weight: 600;
  background-color: var(--main-color);
  color: white;
  padding: 8px 30px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Mobile menu styling */
#mobile-menu a.nav-link {
  font-size: 14px;
  margin-top: 10px;
  font-variant: small-caps;
}

#mobile-menu button {
  width: 100%;
  margin-top: 10px;
}

.home-img{
  background-image: url('/images/men\ image\ 1.png');
  background-size: cover;
  /* height: 100%; */
  width: fit-content;
  border-radius: 5px;
  /* padding: 0px 10px; */
}


.header-title{
  text-align: center;
}
.header-title h2{
font-weight: 600;
font-size: 35px;
font-variant: titlecase;
color: var(--text-color);
}
.header-title p{
font-weight: 400;
font-size: 18px;
font-variant: titlecase;
color: var(--text-color);
font-family: var(--lato-font);
padding: 20px 200px;
line-height: 28px;
}

.home-text{
  font-size: 48px;
  font-weight: 700;
  line-height: 73px;
  /* padding: 20px 0px; */
padding-bottom:  10px;

}


.project-banner{
  background-color: var(--dark-bg-color);
    padding: 40px 30px; /* py-8 px-4 */
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
}

.banner-title {
  font-weight: 600; /* font-semibold */
  font-size: 34px;
  padding-bottom: 10px;
  color: white;
}
.banner-para {
  font-weight: 400; /* font-semibold */
  font-size: 16px;
  color: white;
  line-height: 32px;
  
}
.contain-boxes{

  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  width: 100%;
  gap: 30px;
  padding: 20px 100px;
  margin: auto;
}
.content-box{
  display: flex;
  align-items: center;
  gap: 20px;
  width: 400px;
  /* justify-content: space-between; */

}


.right-img {
  width: 70px;        /* fixed box width */
  display: flex;
  align-items: center;
  justify-content: center; /* optional: center the image inside box */
}

.content {
  flex: 1;            /* take the remaining space */
}
.content-box h3{
  font-size: 19px;
  font-style: bold;
  font-weight: 700;
  /* padding-bottom: 5px; */
}

.content-box  p{
  font-size: 16px;
  font-style: bold;
  line-height: 24px;

  font-family: var(--lato-font);
}


.section-4-boxes{
display: flex;
align-items: center;
justify-content: center;
gap: 100px;
width: 100%;
padding: 40px 0px;
}

.section-4-box{
  width: 196px;
  /* background-color: red; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-4-box h2{
  font-size: 20px;
  font-weight: 700;
}

.section-4-box p{
  font-family: var(--lato-font);
  font-size: 16px;
  font-weight: 400;
}
.section-5-left{
  background-color: var(--light-bg-color);
  padding: 20px 60px 30px 30px;
}

.section-5-btn {
  display: flex;
  background-color: var(--main-color);
   width: fit-content;
   padding:10px  20px;
   color: white;
   border-radius: 5px;
   text-transform: capitalize;
   gap: 10px;

}
.section-5-left h1{
  font-size: 35px;
  font-weight: 600;
  text-transform: capitalize;
  font-family: var(--roboto-font);
}

.section-5-left p{
  font-size: 16px;
  font-style: bold;
  line-height: 24px;
padding: 10px 0px;
  font-family: var(--lato-font);
}

.section-5-left span{
  color: var(--sc-color);
}


.faq {
  /* max-width: 600px; */
  padding: 10px 100px;
  margin: auto;

}

.faq-item {
  /* border-bottom: 1px solid #ddd; */
  padding: 10px 30px;
    border: 1px solid #00000040;
  border-radius: 5px;
  margin-top: 20px;
}

.faq-question {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  color: #1E293BCC;
}

.faq-answer {
  font-size: 16px;
  font-weight: 400;
  max-height: 0;              /* by default closed */
  overflow: hidden;
  font-family: var(--lato-font);
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0;
  padding: 0px 100px 0px 0px;

}

.faq-answer.open {
  max-height: 300px;          /* enough height for text */
  padding: 20px 100px 20px 0px;
  font-family: var(--lato-font);

}

.faq-question.open {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  color: #1E293B;
}

.faq-question i {
  font-size: 22px;
  transition: transform 0.3s ease;
}


.faq-question.active i {
  transform: rotate(180deg);   /* rotate arrow when open */
}
/* By default (desktop) tumhara current code kaam karega */

/* Tablet (max-width: 1024px) */
@media (max-width: 1024px) {


.project-banner{
  background-color: var(--dark-bg-color);
    padding: 30px 10px 10px ; /* py-8 px-4 */
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
}

.banner-title {
  font-weight: 600; /* font-semibold */
  font-size: 25px;
  padding-bottom: 10px;
  color: white;
}
.banner-para {
  font-weight: 400; /* font-semibold */
  font-size: 16px;
  color: white;
  line-height: 32px;
  
}


  .contain-boxes {
    /* flex-wrap: wrap; */
    justify-content: center;
    padding: 20px 40px;
    gap: 20px;
  }

  .home-text{
  font-size: 25px;
  font-weight: 700;
  line-height: normal;
  /* padding: 10px 0px 0px; */
}
  .header-title h2{
font-weight: 600;
font-size: 25px;
font-variant: titlecase;
color: var(--text-color);
}

  .header-title p{
font-weight: 400;
font-size: 14px;
font-variant: titlecase;
color: var(--text-color);
font-family: var(--lato-font);
padding: 20px ;
line-height: 28px;
}

  .content-box {
    width: 100%;
    max-width: 350px;
    justify-content: flex-start;
  }

  .section-4-boxes {
    gap: 50px;
    flex-wrap: wrap;
    padding: 30px 0;
  }

  .faq {
    padding: 10px 40px;
  }

  .faq-answer {
    padding: 0px 40px 0px 0px;
  }

  .faq-answer.open {
    padding: 20px 40px 20px 0px;
  }
}

/* Mobile (max-width: 768px) */
@media (max-width: 768px) {
  .contain-boxes {
    /* flex-direction: column; */
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    padding-bottom: 10px;
  }

  .content-box {
    width: 100%;
    max-width: 100%;
    /* flex-direction: column; */
    align-items: flex-start;
    text-align: left;
  }
  .content-box h3{
    font-size: 18px;
    padding: 0;
  }
    .content-box p{
    font-size: 12px;
  }

  .content-box img {
    max-width: 100%;
    height: auto;
  }

  .section-4-boxes {
    flex-direction: column;
    gap: 30px;
    padding: 20px 0;
  }

  .section-4-box {
    width: 100%;
    max-width: 250px;
  }

  .section-5 {
    flex-direction: column;
    gap: 30px;
  }

  .section-5-left {
    padding: 20px;
  }

  .faq {
    padding: 10px 20px;
  }

  .faq-answer {
    padding: 0px 20px 0px 0px;
  }

  .faq-answer.open {
    padding: 15px 20px 15px 0px;
  }

  .faq-question span {
    font-size: 16px;
  }
}



@media (max-width: 500px) {
  .contain-boxes {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    padding-bottom: 10px;
  }

  .content-box {
    width: 100%;
    max-width: 100%;
    /* flex-direction: column; */
    align-items: flex-start;
    text-align: left;
  }
  .content-box h3{
    font-size: 18px;
    padding: 0;
  }
    .content-box p{
    font-size: 12px;
  }

  .content-box img {
    max-width: 100%;
    height: auto;
  }

  .section-4-boxes {
    flex-direction: column;
    gap: 30px;
    padding: 20px 0;
  }

  .section-4-box {
    width: 100%;
    max-width: 250px;
  }

  .section-5 {
    flex-direction: column;
    gap: 30px;
  }

  .section-5-left {
    padding: 20px;
  }

  .faq {
    padding: 10px 20px;
  }

  .faq-answer {
    padding: 0px 20px 0px 0px;
  }

  .faq-answer.open {
    padding: 15px 20px 15px 0px;
  }

  .faq-question span {
    font-size: 16px;
  }
}



